body{
    transition: all 0.3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: $dark;
    &:hover{
        
        color:$dark;
        text-decoration: none;
    }
}

.nav-link{
    transition: all 0.3s;
}